In [2]:
import pandas

In [3]:
data=pandas.read_csv("player_data.csv")

In [4]:
data

,Player,From,To,Pos,Ht,Wt,Birth Date,Colleges
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,June 24 1968,Duke
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,April 7 1946,Iowa State
2,Kareem Abdul-Jabbar*,1970,1989,C,7-2,225.0,April 16 1947,UCLA
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,March 9 1969,LSU
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,November 3 1974,Michigan San Jose State
...,...,...,...,...,...,...,...,...
4974,Ante Žiži?,2018,2020,F-C,6-10,266.0,January 4 1997,NaN
4975,Jim Zoet,1983,1983,C,7-1,240.0,December 20 1953,Kent State University
4976,Bill Zopf,1971,1971,G,6-1,170.0,June 7 1948,Duquesne
4977,Ivica Zubac,2017,2022,C,7-0,240.0,March 18 1997,NaN
4978,Matt Zunic,1949,1949,G-F,6-3,195.0,December 19 1919,George Washington

In [13]:
data.describe() .T["min"]

From    1947.0
To      1947.0
Wt       114.0
Name: min, dtype: float64